div#accountTop
  div#accountNav
    h2 User Account
    p Welcome to ShortFeedz!

  div#createStream
    h3 Create a new Stream
    p.tip
         | separate multiple terms with spaces <br>
         | use @ syntax for public user streams
    form(method='post', action='/account/stream')#streamForm
      input(name='terms')
      input(type='submit', value='create')

div#yourStreamsTitle
  h3 Your Streams

div#yourStreams
    ul#streams
      - each stream, id in streams
        li(class='stream-' + id) 
          p 
            span(id=id).terms #{stream.terms}
            span.tip
                    |  click to edit  
          p.created created: #{stream.createdAt}
          p.updated updated: #{stream.updatedAt}
          div(class='realtime-display-' + id)
